body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex:1;
    /* justify-content: flex-end; */
  }
  
  .main{
    margin-left: 50px;
    display: flex;
  }
  .logo {
    text-align: center;
    margin-bottom: 20px;
    padding : 30px 150px;
    flex:5;
  }
  
  /* .logo img {
    width: 200px;
    height: auto;
  } */
  
  .login-form {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    width : 270px;

  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login {
    background-color: #1b54cf; /* Facebook blue */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .pass {
    background-color: #f3f4f7; /* Facebook blue */
    color: #fff;
    padding: 10px ;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    color: #1b54cf;
  }
  
  .create-account {
    background-color: rgb(35, 175, 35);
    color: white;
    width : 80%;
    height: 14%;
    padding: 5px ;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    line-height:28px;
  }
  

  .content-main{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    width: 400px;
    text-align: left;
    overflow: hidden;
  }

  .main-image{
    display: block; /* Set image to block to stack it vertically */
  margin: 0 20px 0 0;
  }